.gradle
**gradlew*
gradle/
.idea/
.vscode/*
.classpath
.project
.settings/
bin/
*.class

Archipelago.Account.Common/build/
Archipelago.Common.DynamoDB/build/
Harbor.Client/build/
Maui.Core/build/
PackageService.Client/build/
VersionSetService.Core/build/
Archipelago.Common/build/
BuildServer.API/build/
HarborService/build/
Maui.Graph/build/
PackageService.Client.Models/build/
VersionSetService/build/
VersionSetService.Models/build/
Archipelago.Common.Clients/build/
BuildServer.Builder/build/
Maui/build/
Maui.Path/build/
PackageService.Core/build/
VersionSetService.Client/build/
Archipelago.Common.Concurrent/build/
BuildServer.Common/build/
Maui.Common/build/
PackageService/build/
PackageService.Models/build/
Archipelago.Common.Github/build/
VersionSetService.Client.Models/build/
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
